/* Home.jsp*/
	*{
	background:#c8c2c2;
	}
	.buttons{
	font-size:16px;
	margin:10px 30px;
	height:60px;
	width:120px;
	color:#fff;
	background:#a55a51;
	outline:none;
	border:none;
	border-radius:6px;
	cursor:pointer;
	}
	.buttons:hover{
	background:#525f93;
	}
	.fieldOne{
	width:60%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin:50px 50%;
	border-radius:10px;
	transform:translate(-50%);
	border:2px solid #7d7a7a;
	}
	.fieldTwo{
	display:flex;
	flex-direction:row;
	width:60%;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin:70px 50%;
	outline:none;
	border:none;
	transform:translate(-50%);
	bottom:0;
	position:absolute;
	}
	.fieldThree{
	width:70%;}
	.container{
	padding:10px;
	display:flex;
	flex-direction:row;
	}
	h4{
	margin: 10px 40px;
	}
/*attemptChanges.jsp*/
	h1{
	display:flex;
	justify-content:center;
	margin-top:3%;
	margin-bottom:3%; }
	table{
	border-collapse:collapse;}
	th{
	padding:15px 30px;}
	td{
	border-style:hidden;
	display:start;
	padding:10px 30px;
	border-top:1px solid #fff;}