	*{
	background:#c8c2c2;
	}
	.buttons{
	font-size:20px;
	margin:10px 30px;
	height:60px;
	width:120px;
	color:#fff;
	background:#a55a51;
	outline:none;
	border:none;
	border-radius:15px;
	cursor:pointer;
	}
	.fieldOne{
	padding:2rem;
	width:70%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin:auto 50%;
	border-radius:10px;
	transform:translate(-50%);
	border:2px solid #7d7a7a;
	}
	.fieldTwo{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	text-align:center;
	}
	table{
	border-collapse:collapse;}
	tr{
	margin:1% auto;}
	th{
	padding:15px 30px;}
	td{
	font-size:20px;
	border-style:hidden;
	display:start;
	padding:10px 30px;
	border-top:1px solid #fff;}